Exercises/Exercise_12/flows (12).json
[{"id":"fb9e8ce6.7e6e3","type":"tab","label":"Exercise 12","disabled":false,"info":""},{"id":"ccdc57b8.f98268","type":"inject","z":"fb9e8ce6.7e6e3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":160,"wires":[["3162d75.05b1128"]]},{"id":"3162d75.05b1128","type":"http request","z":"fb9e8ce6.7e6e3","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://samples.openweathermap.org/data/2.5/weather?q=London,uk&appid=b6907d289e10d714a6e88b30761fae22","tls":"","persist":false,"proxy":"","authType":"","x":420,"y":180,"wires":[["cfa45e01.0ce1f","bbedcf24.fddc1","6a055952.dc0b68","41dc5f21.27671","21fd79db.7cdc06","28adef8e.c0d0f","f25a81f6.21cb8"]]},{"id":"cfa45e01.0ce1f","type":"debug","z":"fb9e8ce6.7e6e3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":140,"wires":[]},{"id":"21fd79db.7cdc06","type":"debug","z":"fb9e8ce6.7e6e3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.main.temp","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":220,"wires":[]},{"id":"28adef8e.c0d0f","type":"debug","z":"fb9e8ce6.7e6e3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.main.pressure","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":280,"wires":[]},{"id":"f25a81f6.21cb8","type":"debug","z":"fb9e8ce6.7e6e3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.main.humidity","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":340,"wires":[]},{"id":"fe917048.ce557","type":"ui_gauge","z":"fb9e8ce6.7e6e3","name":"Temp","group":"43553fb3.b0c7d","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":440,"wires":[]},{"id":"517ac0bc.10f3f","type":"ui_gauge","z":"fb9e8ce6.7e6e3","name":"Pressure","group":"43553fb3.b0c7d","order":0,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"units","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":500,"wires":[]},{"id":"78cbffae.c7657","type":"ui_gauge","z":"fb9e8ce6.7e6e3","name":"Humidity","group":"43553fb3.b0c7d","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":560,"wires":[]},{"id":"bbedcf24.fddc1","type":"change","z":"fb9e8ce6.7e6e3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":400,"wires":[["fe917048.ce557"]]},{"id":"6a055952.dc0b68","type":"change","z":"fb9e8ce6.7e6e3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":440,"wires":[["517ac0bc.10f3f"]]},{"id":"41dc5f21.27671","type":"change","z":"fb9e8ce6.7e6e3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":480,"wires":[["78cbffae.c7657"]]},{"id":"43553fb3.b0c7d","type":"ui_group","z":"","name":"Temperature","tab":"18e2f28f.c5a4ad","order":5,"disp":true,"width":"6","collapse":false},{"id":"18e2f28f.c5a4ad","type":"ui_tab","z":"","name":"Temperature","icon":"dashboard","disabled":false,"hidden":false}]