Exercises/Exercise_11/flows (11).json
[{"id":"97ec7821.8c5388","type":"tab","label":"Exercise 11","disabled":false,"info":""},{"id":"71884c4e.6bfd84","type":"inject","z":"97ec7821.8c5388","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":160,"wires":[["ce00dc1c.dd53f"]]},{"id":"ce00dc1c.dd53f","type":"function","z":"97ec7821.8c5388","name":"cruise movement","func":"msg.payload = Math.round(Math.random(50)*30);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":240,"wires":[["ca04696b.e99cb8","41a410b9.605d3","aa1d4fb0.3875a","10a4e061.cfad9","1601d7fc.5bf868"]]},{"id":"ca04696b.e99cb8","type":"debug","z":"97ec7821.8c5388","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":140,"wires":[]},{"id":"aa1d4fb0.3875a","type":"ui_chart","z":"97ec7821.8c5388","name":"","group":"affd6864.f52da8","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":550,"y":320,"wires":[[]]},{"id":"41a410b9.605d3","type":"ui_gauge","z":"97ec7821.8c5388","name":"","group":"affd6864.f52da8","order":1,"width":0,"height":0,"gtype":"gage","title":"Units","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":240,"wires":[]},{"id":"1601d7fc.5bf868","type":"ui_slider","z":"97ec7821.8c5388","name":"","label":"slider","tooltip":"","group":"affd6864.f52da8","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":1,"x":550,"y":480,"wires":[[]]},{"id":"10a4e061.cfad9","type":"ui_text","z":"97ec7821.8c5388","group":"affd6864.f52da8","order":3,"width":0,"height":0,"name":"","label":"Value","format":"{{msg.payload}}","layout":"row-spread","x":550,"y":400,"wires":[]},{"id":"affd6864.f52da8","type":"ui_group","z":"","name":"Default","tab":"b4fa1fe4.b029b","order":1,"disp":true,"width":"6","collapse":false},{"id":"b4fa1fe4.b029b","type":"ui_tab","z":"","name":"Movement","icon":"dashboard","disabled":false,"hidden":false}]