Exercises/Exercise_04/flows (4).json
[{"id":"96bc07c1.8a5f98","type":"tab","label":"Exercise 04","disabled":false,"info":""},{"id":"c5b58174.5055c","type":"http in","z":"96bc07c1.8a5f98","name":"","url":"/mypage","method":"get","upload":false,"swaggerDoc":"","x":220,"y":200,"wires":[["42e7b1f6.e164e"]]},{"id":"42e7b1f6.e164e","type":"template","z":"96bc07c1.8a5f98","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":450,"y":200,"wires":[["88a0c6cf.6d2f58"]]},{"id":"88a0c6cf.6d2f58","type":"http response","z":"96bc07c1.8a5f98","name":"","statusCode":"","headers":{},"x":690,"y":200,"wires":[]}]