Exercises/Exercise_14/flows (14).json
[{"id":"8a411298.5a0b8","type":"tab","label":"Exercise 14","disabled":false,"info":""},{"id":"7106a4d4.3d2ccc","type":"inject","z":"8a411298.5a0b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":200,"wires":[["2c8aaa4e.edb1c6"]]},{"id":"d7634a32.303a88","type":"debug","z":"8a411298.5a0b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":200,"wires":[]},{"id":"88a87a5e.12e6f8","type":"ui_text","z":"8a411298.5a0b8","group":"7379bd44.3f5be4","order":0,"width":0,"height":0,"name":"","label":"Temperature","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":340,"wires":[]},{"id":"80eaf3be.c2ed3","type":"ui_text","z":"8a411298.5a0b8","group":"7379bd44.3f5be4","order":0,"width":0,"height":0,"name":"","label":"Humidity","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":380,"wires":[]},{"id":"40d0c091.e3ca2","type":"change","z":"8a411298.5a0b8","name":"Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":340,"wires":[["88a87a5e.12e6f8"]]},{"id":"a5b462cb.76af7","type":"change","z":"8a411298.5a0b8","name":"Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":380,"wires":[["80eaf3be.c2ed3"]]},{"id":"d389e974.039eb8","type":"debug","z":"8a411298.5a0b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.main.temp","targetType":"msg","x":610,"y":240,"wires":[]},{"id":"d80e58f2.24aab8","type":"debug","z":"8a411298.5a0b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.main.humidity","targetType":"msg","x":620,"y":280,"wires":[]},{"id":"2c8aaa4e.edb1c6","type":"http request","z":"8a411298.5a0b8","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://samples.openweathermap.org/data/2.5/weather?q=London,uk&appid=b6907d289e10d714a6e88b30761fae22","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":200,"wires":[["d7634a32.303a88","40d0c091.e3ca2","a5b462cb.76af7","d389e974.039eb8","d80e58f2.24aab8","a16722ac.25ed9","3bb98afd.01fb46","77d76751.e5ce28","4c8652de.444ebc","cbc0e9a5.f432b8","f0b94cf0.0eaeb","8d5442c1.aa67c"]]},{"id":"a16722ac.25ed9","type":"change","z":"8a411298.5a0b8","name":"Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":420,"wires":[["e4c050d2.767d8"]]},{"id":"e4c050d2.767d8","type":"ui_text","z":"8a411298.5a0b8","group":"7379bd44.3f5be4","order":2,"width":0,"height":0,"name":"","label":"Pressure","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":420,"wires":[]},{"id":"3bb98afd.01fb46","type":"debug","z":"8a411298.5a0b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.main.pressure","targetType":"msg","x":620,"y":160,"wires":[]},{"id":"77d76751.e5ce28","type":"change","z":"8a411298.5a0b8","name":"Wind speed","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.wind.speed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":460,"wires":[["55994e34.99721"]]},{"id":"55994e34.99721","type":"ui_text","z":"8a411298.5a0b8","group":"7379bd44.3f5be4","order":3,"width":0,"height":0,"name":"","label":"Wind speed","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":460,"wires":[]},{"id":"4c8652de.444ebc","type":"debug","z":"8a411298.5a0b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.wind.speed","targetType":"msg","x":610,"y":120,"wires":[]},{"id":"cbc0e9a5.f432b8","type":"debug","z":"8a411298.5a0b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.name","targetType":"msg","x":590,"y":80,"wires":[]},{"id":"f0b94cf0.0eaeb","type":"change","z":"8a411298.5a0b8","name":"Place","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":500,"wires":[["2e106e2b.a59d52"]]},{"id":"2e106e2b.a59d52","type":"ui_text","z":"8a411298.5a0b8","group":"7379bd44.3f5be4","order":4,"width":0,"height":0,"name":"","label":"Place","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":500,"wires":[]},{"id":"c3df843b.29b3b8","type":"ui_text","z":"8a411298.5a0b8","group":"7379bd44.3f5be4","order":5,"width":0,"height":0,"name":"","label":"Co-ordinates","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":540,"wires":[]},{"id":"8d5442c1.aa67c","type":"change","z":"8a411298.5a0b8","name":"Co-ordinates","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.coord","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":540,"wires":[["c3df843b.29b3b8"]]},{"id":"7379bd44.3f5be4","type":"ui_group","z":"","name":"Weather_forecast","tab":"80b7db81.2e8dc8","order":1,"disp":true,"width":"6","collapse":false},{"id":"80b7db81.2e8dc8","type":"ui_tab","z":"","name":"Weather_forecast","icon":"dashboard","disabled":false,"hidden":false}]