Exercises/Exercise_15/flows (15).json
[{"id":"6e8f0299.b9aa6c","type":"tab","label":"Exercise 16","disabled":false,"info":""},{"id":"c24ee49d.fc4358","type":"inject","z":"6e8f0299.b9aa6c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"BTCUSDT","payload":"","payloadType":"str","x":290,"y":240,"wires":[["62212085.67ea8","8e88bf6.2cd484","152a2d1b.151c63"]]},{"id":"687e34c5.c0d78c","type":"debug","z":"6e8f0299.b9aa6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":240,"wires":[]},{"id":"152a2d1b.151c63","type":"binance-get-price","z":"6e8f0299.b9aa6c","name":"","ticker":"","x":490,"y":180,"wires":[["687e34c5.c0d78c"]]},{"id":"62212085.67ea8","type":"binance-get-all-prices","z":"6e8f0299.b9aa6c","name":"","x":520,"y":340,"wires":[["687e34c5.c0d78c"]]},{"id":"8e88bf6.2cd484","type":"binance-get-book-ticker","z":"6e8f0299.b9aa6c","name":"","ticker":"","x":470,"y":400,"wires":[["687e34c5.c0d78c"]]}]