Exercises/Exercise_17/flows (17).json
[{"id":"3446cfac.04a23","type":"tab","label":"Exercise 17","disabled":false,"info":""},{"id":"a00d71bc.65475","type":"binance-get-book-ticker","z":"3446cfac.04a23","name":"","ticker":"","x":340,"y":300,"wires":[["d050a94.7591c58","ce7f6751.127a38","3cc8bdf.ce36a42","9bdc481b.bd0e08","b42a0013.d2b07"]]},{"id":"e4c9121d.35b28","type":"inject","z":"3446cfac.04a23","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"BTCUSDT","payload":"","payloadType":"str","x":140,"y":200,"wires":[["a00d71bc.65475"]]},{"id":"d050a94.7591c58","type":"debug","z":"3446cfac.04a23","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":180,"wires":[]},{"id":"ce7f6751.127a38","type":"ui_text","z":"3446cfac.04a23","group":"e33fa915.6a3348","order":5,"width":0,"height":0,"name":"Bid Prce","label":"Bid Price","format":"{{msg.payload.bidPrice}}","layout":"row-spread","x":790,"y":140,"wires":[]},{"id":"3cc8bdf.ce36a42","type":"ui_text","z":"3446cfac.04a23","group":"e33fa915.6a3348","order":6,"width":0,"height":0,"name":"askPrice","label":"text","format":"{{msg.payload.askPrice}}","layout":"row-spread","x":790,"y":220,"wires":[]},{"id":"9bdc481b.bd0e08","type":"change","z":"3446cfac.04a23","name":"isolate bidPrice","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.bidPrice","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"bidPrice","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":380,"wires":[["fde9acbf.db83c"]]},{"id":"b42a0013.d2b07","type":"change","z":"3446cfac.04a23","name":"isolate askPrice","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.askPrice","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"askPrice","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":440,"wires":[["fde9acbf.db83c"]]},{"id":"fde9acbf.db83c","type":"ui_chart","z":"3446cfac.04a23","name":"","group":"e33fa915.6a3348","order":7,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":820,"y":420,"wires":[[]]},{"id":"e33fa915.6a3348","type":"ui_group","z":"","name":"Binance demo","tab":"c514d925.ff01b8","order":2,"disp":true,"width":"6","collapse":false},{"id":"c514d925.ff01b8","type":"ui_tab","z":"","name":"Binanace","icon":"dashboard","disabled":false,"hidden":false}]