Exercises/Exercise_03/flows (3).json
[{"id":"34d29f62.cd31","type":"tab","label":"Exercise 03","disabled":false,"info":""},{"id":"649da2ef.60155c","type":"debug","z":"34d29f62.cd31","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":220,"wires":[]},{"id":"d546889e.4f36c8","type":"inject","z":"34d29f62.cd31","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":220,"y":200,"wires":[["fb60ee95.7bd78"]]},{"id":"fb60ee95.7bd78","type":"function","z":"34d29f62.cd31","name":"Format timestamp","func":"// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":120,"wires":[["649da2ef.60155c"]]}]