Exercises/Exercise_06/flows (6).json
[{"id":"ce46403b.8d9eb","type":"tab","label":"Exercise 06","disabled":false,"info":""},{"id":"ba244a12.152038","type":"inject","z":"ce46403b.8d9eb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":120,"wires":[["41987d06.31af34"]]},{"id":"41987d06.31af34","type":"http request","z":"ce46403b.8d9eb","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_week.csv","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":120,"wires":[["e99e0a6b.3fd558"]]},{"id":"e99e0a6b.3fd558","type":"csv","z":"ce46403b.8d9eb","name":"","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":260,"y":240,"wires":[["6aca6e80.b1c99","c7b8f0c2.2d03"]]},{"id":"6aca6e80.b1c99","type":"debug","z":"ce46403b.8d9eb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":500,"y":260,"wires":[]},{"id":"c7b8f0c2.2d03","type":"switch","z":"ce46403b.8d9eb","name":"","property":"payload.mag","propertyType":"msg","rules":[{"t":"gte","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":360,"wires":[["c99b1c46.c29dc"]]},{"id":"c99b1c46.c29dc","type":"change","z":"ce46403b.8d9eb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"PANIC","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":360,"wires":[["6e2185e7.5322dc"]]},{"id":"6e2185e7.5322dc","type":"debug","z":"ce46403b.8d9eb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":380,"wires":[]}]