Exercises/Exercise_18/flows (18).json
[{"id":"a946561d.df21a8","type":"tab","label":"Exercise 18","disabled":false,"info":""},{"id":"9244ff4f.f6403","type":"ui_text","z":"a946561d.df21a8","group":"144f6ff9.7c80d","order":2,"width":"0","height":"0","name":"","label":"Bid Price","format":"{{msg.payload.bidPrice}}","layout":"row-spread","x":820,"y":60,"wires":[]},{"id":"c7716e7c.038d9","type":"ui_chart","z":"a946561d.df21a8","name":"","group":"5d5034d3.8020bc","order":3,"width":"18","height":"10","label":"","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"Click on a crypto or provide a ticker pair","dot":true,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":910,"y":600,"wires":[[],[]]},{"id":"1ba74c9e.0a46b3","type":"binance-get-candlesticks","z":"a946561d.df21a8","name":"","ticker":"","interval":"1d","limit":"30","startTime":"","endTime":"","x":880,"y":480,"wires":[["76b34f55.53546"]]},{"id":"76b34f55.53546","type":"function","z":"a946561d.df21a8","name":"built chart data","func":"\nvar series = [msg.topic]\nvar data = msg.payload.map(function (d) {\n return {\n x: d[0],\n y: d[4] // close price\n }\n});\n\nmsg.payload = [{\n series: series,\n data: [data]\n}]\n\n\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":540,"wires":[["c7716e7c.038d9"]]},{"id":"9280bfff.96948","type":"function","z":"a946561d.df21a8","name":"set values for API","func":"if (typeof msg.payload === 'string') {\n flow.set(\"selectedTickerPair\", msg.payload);\n}\nmsg.topic = flow.get(\"selectedTickerPair\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":200,"wires":[["7f5f49ab.b9a778","589365c8.b1481c","2fb92e43.5a1082","32dae611.9b068a"]]},{"id":"3f83f9b8.217246","type":"ui_button","z":"a946561d.df21a8","name":"","group":"5d5034d3.8020bc","order":2,"width":"2","height":"1","passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","icon":"refresh","payload":"selectedTickerPair","payloadType":"flow","topic":"","x":120,"y":60,"wires":[["a3fb5b87.ed6458","f4ff34f4.b7f598"]]},{"id":"51036ff8.affb","type":"ui_button","z":"a946561d.df21a8","name":"","group":"5d5034d3.8020bc","order":6,"width":"2","height":"1","passthru":false,"label":"Ethereum","color":"","bgcolor":"#555555","icon":"","payload":"ETHBTC","payloadType":"str","topic":"","x":120,"y":140,"wires":[["a3fb5b87.ed6458"]]},{"id":"7d52ce28.278ba","type":"ui_button","z":"a946561d.df21a8","name":"","group":"5d5034d3.8020bc","order":7,"width":"2","height":"1","passthru":false,"label":"Neo","color":"","bgcolor":"#58be02","icon":"","payload":"NEOBTC","payloadType":"str","topic":"","x":110,"y":180,"wires":[["a3fb5b87.ed6458"]]},{"id":"3e280425.b53f8c","type":"ui_button","z":"a946561d.df21a8","name":"","group":"5d5034d3.8020bc","order":4,"width":"2","height":"1","passthru":false,"label":"BTC","tooltip":"","color":"","bgcolor":"#ff8e13","icon":"","payload":"BTCUSDT","payloadType":"str","topic":"","x":110,"y":100,"wires":[["a3fb5b87.ed6458"]]},{"id":"94eb9baf.8df498","type":"ui_button","z":"a946561d.df21a8","name":"","group":"5d5034d3.8020bc","order":5,"width":"2","height":"1","passthru":false,"label":"Litecoin","color":"","bgcolor":"#bebebe","icon":"","payload":"LTCBTC","payloadType":"str","topic":"","x":120,"y":220,"wires":[["a3fb5b87.ed6458"]]},{"id":"7f5f49ab.b9a778","type":"binance-get-book-ticker","z":"a946561d.df21a8","name":"","ticker":"","x":640,"y":80,"wires":[["9244ff4f.f6403","1f6c8dea.90e7c2"]]},{"id":"1f6c8dea.90e7c2","type":"ui_text","z":"a946561d.df21a8","group":"144f6ff9.7c80d","order":3,"width":"0","height":"0","name":"","label":"Ask Price","format":"{{msg.payload.askPrice}}","layout":"row-spread","x":820,"y":100,"wires":[]},{"id":"a3fb5b87.ed6458","type":"ui_text_input","z":"a946561d.df21a8","name":"","label":"Ticker pair","group":"5d5034d3.8020bc","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":390,"y":120,"wires":[["daf0144c.f87638"]]},{"id":"589365c8.b1481c","type":"binance-get-day-stats","z":"a946561d.df21a8","name":"","ticker":"","x":630,"y":180,"wires":[["3f16ac30.6df8c4","dfd4d7e8.e3ba78","6f8e351f.28eedc","c4cf579.20527a8"]]},{"id":"ed86d62d.efa4a8","type":"catch","z":"a946561d.df21a8","name":"","scope":null,"x":120,"y":640,"wires":[["3c63964d.f5c3aa","14a3a9c0.636636"]]},{"id":"f77c5e84.dbf34","type":"ui_toast","z":"a946561d.df21a8","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":570,"y":640,"wires":[]},{"id":"3c63964d.f5c3aa","type":"debug","z":"a946561d.df21a8","name":"","active":true,"console":false,"complete":"error","x":260,"y":680,"wires":[]},{"id":"14a3a9c0.636636","type":"function","z":"a946561d.df21a8","name":"","func":"msg.topic = \"API Error\";\nif (msg.error) {\n msg.payload = msg.error.message\n} else {\n msg.payload = \"\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":640,"wires":[["a6b4e8d3.d00b08"]]},{"id":"3f16ac30.6df8c4","type":"ui_text","z":"a946561d.df21a8","group":"144f6ff9.7c80d","order":4,"width":"0","height":"0","name":"","label":"24 hr Low","format":"{{msg.payload.lowPrice}}","layout":"row-spread","x":820,"y":140,"wires":[]},{"id":"dfd4d7e8.e3ba78","type":"ui_text","z":"a946561d.df21a8","group":"144f6ff9.7c80d","order":5,"width":"0","height":"0","name":"","label":"24 hr high","format":"{{msg.payload.highPrice}}","layout":"row-spread","x":820,"y":180,"wires":[]},{"id":"6f8e351f.28eedc","type":"ui_text","z":"a946561d.df21a8","group":"144f6ff9.7c80d","order":6,"width":"0","height":"0","name":"","label":"24 hr Price % change","format":"{{msg.payload.priceChangePercent}}%","layout":"row-spread","x":860,"y":220,"wires":[]},{"id":"c4cf579.20527a8","type":"ui_text","z":"a946561d.df21a8","group":"144f6ff9.7c80d","order":7,"width":"0","height":"0","name":"","label":"24 hr volume","format":"{{msg.payload.volume}}","layout":"row-spread","x":830,"y":260,"wires":[]},{"id":"f62bff2b.dbf15","type":"ui_button","z":"a946561d.df21a8","name":"","group":"5d5034d3.8020bc","order":8,"width":"2","height":"1","passthru":false,"label":"Ripple","color":"","bgcolor":"#0086be","icon":"","payload":"XRPBTC","payloadType":"str","topic":"","x":110,"y":260,"wires":[["a3fb5b87.ed6458"]]},{"id":"94259edc.f1ad6","type":"ui_slider","z":"a946561d.df21a8","name":"","label":"","group":"144f6ff9.7c80d","order":9,"width":0,"height":0,"passthru":true,"topic":"","min":"2","max":"14","step":1,"x":110,"y":580,"wires":[["4e77640e.5a682c"]]},{"id":"dc86b17d.353ca","type":"function","z":"a946561d.df21a8","name":"set values for api","func":"\nvar interval = \"1d\";\n\nswitch(msg.payload) {\n case 0:\n interval = \"1m\";\n break;\n case 1:\n interval = \"3m\";\n break;\n case 2:\n interval = \"5m\";\n break; \n case 3:\n interval = \"15m\";\n break;\n case 4:\n interval = \"1h\";\n break;\n case 5:\n interval = \"2h\";\n break;\n case 6:\n interval = \"4h\";\n break;\n case 7:\n interval = \"6h\";\n break;\n case 8:\n interval = \"8h\";\n break;\n case 9:\n interval = \"12h\";\n break;\n case 10:\n interval = \"1d\";\n break;\n case 11:\n interval = \"3d\";\n break;\n case 12:\n interval = \"1w\";\n break;\n case 13:\n interval = \"1M\";\n break;\n}\n\nflow.set(\"interval\", interval);\nmsg.payload = interval;\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":580,"wires":[["51e99519.7a664c","2fb92e43.5a1082"]]},{"id":"4e77640e.5a682c","type":"delay","z":"a946561d.df21a8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"3","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":250,"y":580,"wires":[["dc86b17d.353ca"]]},{"id":"93f8b802.7e4f78","type":"ui_button","z":"a946561d.df21a8","name":"","group":"5d5034d3.8020bc","order":9,"width":"2","height":"1","passthru":false,"label":"Monero","color":"","bgcolor":"#ff6600","icon":"","payload":"XMRBTC","payloadType":"str","topic":"","x":120,"y":300,"wires":[["a3fb5b87.ed6458"]]},{"id":"51e99519.7a664c","type":"ui_text","z":"a946561d.df21a8","group":"144f6ff9.7c80d","order":8,"width":"0","height":"0","name":"","label":"Chart time interval","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":580,"wires":[]},{"id":"a6043cc8.84dd5","type":"inject","z":"a946561d.df21a8","name":"initialize","repeat":"","crontab":"","once":true,"topic":"10","payload":"10","payloadType":"num","x":120,"y":540,"wires":[["94259edc.f1ad6"]]},{"id":"50404150.0ae64","type":"ui_numeric","z":"a946561d.df21a8","name":"","label":"# datapoints","group":"144f6ff9.7c80d","order":10,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":"1","max":"500","step":1,"x":130,"y":480,"wires":[["a11027a3.55ea98"]]},{"id":"512f814f.85e07","type":"inject","z":"a946561d.df21a8","name":"initialize","repeat":"","crontab":"","once":true,"topic":"30","payload":"30","payloadType":"num","x":120,"y":440,"wires":[["50404150.0ae64"]]},{"id":"5fd24cbe.1b45e4","type":"function","z":"a946561d.df21a8","name":"set values for api","func":"flow.set(\"limit\", parseInt(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":480,"wires":[["2fb92e43.5a1082"]]},{"id":"2fb92e43.5a1082","type":"function","z":"a946561d.df21a8","name":"load chart options","func":"msg.topic = flow.get(\"selectedTickerPair\");\nmsg.payload = {};\nmsg.payload.interval = flow.get(\"interval\");\nmsg.payload.limit = flow.get(\"limit\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":480,"wires":[["1ba74c9e.0a46b3"]]},{"id":"a11027a3.55ea98","type":"delay","z":"a946561d.df21a8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"3","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":290,"y":480,"wires":[["5fd24cbe.1b45e4"]]},{"id":"f4ff34f4.b7f598","type":"ui_toast","z":"a946561d.df21a8","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Refreshing chart","name":"","x":410,"y":60,"wires":[]},{"id":"ce433f37.89ca1","type":"ui_template","z":"a946561d.df21a8","group":"144f6ff9.7c80d","name":"Logo display","order":1,"width":"4","height":"3","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":830,"y":300,"wires":[[]]},{"id":"32dae611.9b068a","type":"function","z":"a946561d.df21a8","name":"load logo","func":"var symbol = msg.topic.slice(0,-3);\nsymbol = symbol.toLowerCase();\n\nif (symbol === \"btcu\") { // USDT case\n symbol = \"btc\";\n}\n\nvar imgUrl = \"https://raw.githubusercontent.com/cjdowner/cryptocurrency-icons/master/128/color/\"+symbol+\".png\";\n\nmsg.payload = \"<img src='\"+imgUrl+\"'alt='Logo image not found' />\";\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":300,"wires":[["ce433f37.89ca1"]]},{"id":"daf0144c.f87638","type":"delay","z":"a946561d.df21a8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"2","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":160,"wires":[["9280bfff.96948"]]},{"id":"a5e0589b.efdd68","type":"ui_button","z":"a946561d.df21a8","name":"","group":"5d5034d3.8020bc","order":9,"width":"2","height":"1","passthru":false,"label":"Stellar","color":"","bgcolor":"#99a2a6","icon":"","payload":"XLMBTC","payloadType":"str","topic":"","x":110,"y":340,"wires":[["a3fb5b87.ed6458"]]},{"id":"6aef882c.950728","type":"ui_button","z":"a946561d.df21a8","name":"","group":"5d5034d3.8020bc","order":9,"width":"2","height":"1","passthru":false,"label":"Zcash","color":"","bgcolor":"#e49b2e","icon":"","payload":"ZECBTC","payloadType":"str","topic":"","x":110,"y":380,"wires":[["a3fb5b87.ed6458"]]},{"id":"a6b4e8d3.d00b08","type":"delay","z":"a946561d.df21a8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":390,"y":640,"wires":[["f77c5e84.dbf34"]]},{"id":"144f6ff9.7c80d","type":"ui_group","z":"","name":"Numbers","tab":"68d093dd.696a6c","order":1,"disp":false,"width":"5"},{"id":"5d5034d3.8020bc","type":"ui_group","z":"","name":"Chart","tab":"68d093dd.696a6c","order":2,"disp":false,"width":"18"},{"id":"68d093dd.696a6c","type":"ui_tab","z":"","name":"Binance Node Demo","icon":"fa-bitcoin"}]