Exercises/Exercise_13/flows (13).json
[{"id":"7cc8318d.bf3fa","type":"tab","label":"Exercise 13","disabled":false,"info":""},{"id":"f77664f.5166c98","type":"ui_slider","z":"7cc8318d.bf3fa","name":"","label":"slider","tooltip":"","group":"64eb2b57.ea1dd4","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"250","step":1,"x":610,"y":200,"wires":[["4cfbb52.5ef754c","de4953ac.04cd8","8c0b4ef3.b1e6a"]]},{"id":"4cfbb52.5ef754c","type":"ui_chart","z":"7cc8318d.bf3fa","name":"","group":"64eb2b57.ea1dd4","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"250","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":770,"y":180,"wires":[[]]},{"id":"de4953ac.04cd8","type":"ui_chart","z":"7cc8318d.bf3fa","name":"","group":"64eb2b57.ea1dd4","order":0,"width":0,"height":0,"label":"chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"250","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#3240a0","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":790,"y":260,"wires":[[]]},{"id":"8c0b4ef3.b1e6a","type":"ui_gauge","z":"7cc8318d.bf3fa","name":"","group":"64eb2b57.ea1dd4","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"75","seg2":"150","x":770,"y":100,"wires":[]},{"id":"9abf28fe.c3ba38","type":"inject","z":"7cc8318d.bf3fa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":100,"wires":[["3a8e5059.39ec"]]},{"id":"3a8e5059.39ec","type":"function","z":"7cc8318d.bf3fa","name":"Random Number","func":"msg.payload = Math.round(Math.random()*250);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":100,"wires":[["f77664f.5166c98","322f0f25.0a201","676b8c5b.7ebbf4"]]},{"id":"322f0f25.0a201","type":"function","z":"7cc8318d.bf3fa","name":"Error check","func":"if(msg.payload >= \"150\")\n{\n    msg.payload = \"Too High!\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":280,"wires":[["39cee863.a59798"]]},{"id":"39cee863.a59798","type":"ui_audio","z":"7cc8318d.bf3fa","name":"","group":"64eb2b57.ea1dd4","voice":"en-US","always":"","x":480,"y":280,"wires":[]},{"id":"676b8c5b.7ebbf4","type":"debug","z":"7cc8318d.bf3fa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":60,"wires":[]},{"id":"64eb2b57.ea1dd4","type":"ui_group","z":"","name":"OS_parameters","tab":"f1e6025a.1c137","order":1,"disp":true,"width":"6","collapse":false},{"id":"f1e6025a.1c137","type":"ui_tab","z":"","name":"OS_Parameters","icon":"dashboard","disabled":false,"hidden":false}]