Exercises/Exercise_05/flows (5).json
[{"id":"34949d31.c25882","type":"tab","label":"Exercise 05","disabled":false,"info":""},{"id":"ecc7c2fe.4ca3","type":"http in","z":"34949d31.c25882","name":"","url":"/test1","method":"get","upload":false,"swaggerDoc":"","x":190,"y":140,"wires":[["e118a256.d6b7f"]]},{"id":"e118a256.d6b7f","type":"template","z":"34949d31.c25882","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"<html>\n    <head>\n        <title>Node red custom site</title>\n    </head>\n    <body>\n        <h1>Hello world</h1>\n        <p>Your test goes here</p>\n    </body>\n</html>","output":"str","x":400,"y":140,"wires":[["8115381d.dec558"]]},{"id":"8115381d.dec558","type":"http response","z":"34949d31.c25882","name":"","statusCode":"","headers":{},"x":600,"y":140,"wires":[]}]