Exercises/Exercise_10/flows (10).json
[{"id":"d44aa8c3.e26498","type":"tab","label":"Exercise 10","disabled":false,"info":""},{"id":"caaf96b2.596e68","type":"ui_button","z":"d44aa8c3.e26498","name":"","group":"be660ce9.4b636","order":1,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Welcome to workshop on Internet of things","payloadType":"str","topic":"","x":170,"y":220,"wires":[["38f3916f.38067e","a5b59e86.5f29e","b1aeb8c9.981ad8","6bd762b2.2155cc"]]},{"id":"38f3916f.38067e","type":"ui_text","z":"d44aa8c3.e26498","group":"be660ce9.4b636","order":5,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":400,"y":140,"wires":[]},{"id":"a5b59e86.5f29e","type":"debug","z":"d44aa8c3.e26498","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":280,"wires":[]},{"id":"b1aeb8c9.981ad8","type":"ui_audio","z":"d44aa8c3.e26498","name":"","group":"be660ce9.4b636","voice":"","always":"","x":210,"y":360,"wires":[]},{"id":"6bd762b2.2155cc","type":"ui_toast","z":"d44aa8c3.e26498","position":"top left","displayTime":"10","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":470,"y":380,"wires":[]},{"id":"be660ce9.4b636","type":"ui_group","z":"","name":"Audio","tab":"7a154c04.967164","order":1,"disp":true,"width":"6","collapse":false},{"id":"7a154c04.967164","type":"ui_tab","z":"","name":"Audio","icon":"dashboard","disabled":false,"hidden":false}]